#footer {
    padding-left: 5%;
    margin-right: 5%;
}

p {
    font-size: 10px;
    text-align: center;
}

/* add all p of .text-train in one line and make line move*/
.text-train {
    display: flex;
    text-transform: uppercase;
    font-family: 'Satoshi', sans-serif;
    margin-top: 30px;
}

.text-train p {
    font-size: 32px;
    line-height: 50px;
}

.email-links a {
    display: block;
    font-size: 32px;
}

#footer a[href="#top"] {
    display: flex;
    position: absolute;
    background-color: linen;
    width: 40px;
    height: 40px;
    right: 40px;
    bottom: -45%;
    border-radius: 50%;
}

#footer a img {
    vertical-align: middle;
    margin-right: 10px;
}

.segment2 {
    text-align: center;
}

#footer hr {
    border: 0;
    border-top: 5px solid #333111;
}