#footer {
    font-family: 'Satoshi', sans-serif;
    text-align: center;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 15px;
}

#footer .segment1,
#footer .segment2 {
    margin-bottom: 1em;
}

#footer a {
    text-align: center;
}

#footer a[href="#top"] {
    display: block;
    background: url('img/arrow-up-line.svg') no-repeat center linen;
    width: 30px;
    /* adjust as per your icon size */
    height: 30px;
    /* adjust as per your icon size */
    position: absolute;
    right: 10px;
    top: 15%;
    /* adjust this value to align the icon with the email or user ID */
    border-radius: 0%;
}

#footer a img {
    vertical-align: middle;
    margin-right: 10px;
}

#footer .userid {
    font-size: 20px;
    line-height: 30px;
}

#footer hr {
    border: 0;
    border-top: 5px solid #22211f;
}

#footer p {
    font-size: 10px;
    line-height: 0;
    margin: 0;
}

#footer .segment1 p {
    font-family: 'Satoshi', sans-serif;
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
}