nav {
    background-color: black;
    padding: 1em;
    display: flex;
    justify-content: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 1em;
}

nav ul li a {
    color: linen;
    text-decoration: none;
    font-size: 24px;
}

/* upon hover darken the links */
nav ul li a:hover {
    color: #d3d3d3;
}