/* Typography */

h1 {
    font-size: 125px;
    line-height: 100%;
    font-family: 'Clash Display', sans-serif;
}

h2 {
    font-size: 64px;
    line-height: 120%;
    font-family: 'Clash Display', sans-serif;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    font-family: 'Satoshi', sans-serif;
}

h4 {
    font-size: 34px;
    line-height: 42.5px;
    font-weight: 500;
    font-family: 'Clash Display', sans-serif;
    /* dont bold */
}

h5 {
    font-size: 50px;
    font-family: 'Satoshi', sans-serif;
}

p {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Satoshi', sans-serif;
}

/* Colors */
body {
    color: linen;
    background-color: black;
    align-items: center;
    max-width: fit-content;
    margin: auto;
}


/* Buttons */
button {
    border-radius: 50px;
    padding: 10px 20px;
    font-family: 'Satoshi', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: Black;
    background-color: Linen;
    border: none;
}

/* Links */
a {
    font-family: 'Satoshi', sans-serif;
    font-size: 24px;
    color: inherit;
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 2px solid #757572;
}