#section1 {
    margin-left: 5%;
    margin-right: 5%;
}

#section1 a {
    font-family: 'Clash Display', sans-serif;
    font-size: 28px;
    position: relative;
    text-decoration: none;
}

#section1 a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -15px;
    left: 0;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
}

#section1 a:hover::after {
    width: 100%;
}

.social-media-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

#footer .segment1 p {
    font-family: 'Satoshi', sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    margin-top: 20px;
}

.segment1{
    overflow-x: hidden;
}

@keyframes ticker {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

#footer .segment1 .animated-text {
    white-space: nowrap;
    display: inline-block; 
    animation: ticker 10s linear infinite;
}

